/* Reset default styles to remove browser-specific behavior */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the dropdown button */
  .dropbtn {
    background-color: #ffffff00;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    color: black;
    position: absolute;
    background-color: #fdfdfd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    display: block;
  }
  
  /* Change the link color on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown content when the button is hovered over or clicked */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  