{% extends 'base.html' %}
{% load static %}


{% block head %}
  
<link rel="stylesheet" href="{% static 'css/Home/banner.css' %}" />
<link rel="stylesheet" href="{% static 'css/Home/about.css' %}" />
<link rel="stylesheet" href="{% static 'css/Home/menu.css' %}" />
<link rel="stylesheet" href="{% static 'css/Home/chefs.css' %}">
<link rel="stylesheet" href="{% static 'css/Home/contactus.css' %}">
{% endblock head %}
  

   
  
  {% block tittle %}
    Home
  {% endblock tittle %}




    
    {% block body %}
          


    <section class="banner" id="banner"  style="background-image: url( '{% static 'images/bgBanner2.jpg' %}' )">
      <div class="content">
        <h2>Always Choose Good</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui nostrum
          dolorum excepturi veniam earum debitis sit soluta, culpa minus ea
          laborum esse porro non beatae delectus, sed deserunt error explicabo!
        </p>
        <a href="{% url 'Home:place_order_page' %}" class="btn"> Place Order</a>
      </div>
    </section>

    <section class="aboutcontainer" id="about">
    
    
      <div class="abtText">
        <h1 class="tittletext"><span>A</span>bout Us</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nam
          non nihil nisi, aspernatur rerum aliquam fuga odit eos ab ipsa
          molestias labore. Id perferendis omnis ipsa iusto. Aspernatur, ipsa?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo sunt,
          numquam, velit ab quaerat ipsa cupiditate, in consectetur nesciunt vel
          nulla qui eaque dignissimos odio dicta aut laborum fugiat
          similique!Lorem
          <br /><br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam Lorem
          ipsum, dolor sit amet consectetur adipisicing elit. Deleniti dolores
          excepturi temporibus ipsa voluptatum deserunt vero quos quia non
          debitis hic doloribus, consectetur doloremque minima ex voluptatibus
          natus nesciunt velit!logo autem ducimus temporibus eaque sint maiores
          culpa recusandae. Ad veritatis doloribus repellat reprehenderit vitae
          voluptatem repellendus perferendis corporis dolore. Distinctio, illum.
          <br /><br />
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
          maxime esse nulla omnis porro suscipit reiciendis sit ducimus debitis.
          Quas inventore error maxime eius porro quaerat, pariatur voluptate
          distinctio omnis?
        </p>
      </div>



      <div class="imgbox">
        <img src=" {% static 'images//aboutimg1.jpg' %} " width="300px" alt="" />
      </div>
    </section>

    <section class="menucontainer" id="menu">
      <div class="tittle">
        <h2><span class="firstletter">O</span>ur Specials</h2>
      </div>
  

      
      <div class="gallery">
  {% for cat in category  %}
  {% if cat.items_set.all|length  %}

  {% endif %}    
                {% for item in cat.items_set.all %}

                <a href="{% url 'Home:place_order_page' %}" style="text-decoration:none;">
                  <div class="pallet">
                    <div class="description">
                      <h3>{{cat}}</h3>
                    </div>
                    <div class="image">
                      <img src="{% static ''|add:item.img_path%}" alt="" />
                    </div>
                  </div>
                </a>
                  {% endfor %}
                  
                  {% endfor %}
                </div>
  
      
    </section>

    <section class="testimonials" id="testimonials">

      <h1> Our <span>C</span>hefs</h1>
      
      <div class="contain">
          <div class="card">
            <img src="{% static 'assets/img/chefs/chefs-1.jpg' %}" alt="Test1" />
            <div class="text">
              <h1>Someone Famous</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
                  earum nulla at sunt, cumque
                </p>
            </div>
          </div>
      </div>
    
      
      <div class="contain">
          <div class="card">
            <img src="{% static 'assets/img/chefs/chefs-2.jpg' %}" alt="Test1" />
            <div class="text">
              <h1>Someone Famous</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
                  earum nulla at sunt, cumque
                </p>
            </div>
          </div>
      </div>
    
      
      <div class="contain">
          <div class="card">
            <img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" alt="Test1" />
            <div class="text">
              <h1>Someone Famous</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
                  earum nulla at sunt, cumque
                </p>
            </div>
          </div>
      </div>
    
    
  
  </section>

  
<section id="contactus" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
  
  <div class="containner">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Surkhet, NP12</div>
          <div class="text-two">Birendranagar 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">codinglab@gmail.com</div>
          <div class="text-two">info.codinglab@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
</section>


    {% endblock body %}
      