{% extends 'base.html' %}
{% load static %}


{% block head %}
{% endblock head %}
    
{% block body %}
<br><br><br><br>
<h1>My profile</h1>
<ul>
    <li>
        <h2>My cart</h2>
        <div class="cartlist" id="cartlist"></div>
        <div class="placeorder">
            <form method="post" action="{% url 'Home:reciveorder' %}">
                {% csrf_token %}
                <input type="hidden" id="itemsJSON" name="itemsJSON" value="itemsJSON">
                <input type="submit" >
            </form>
        </div>
    </li>
    <li>
        <h2>My Orders</h2>
        
        {% if order is not None %}
        <h2>order</h2>
        {% endif %}
            
    </li>
</ul>
<div id="orders">

</div>


<script src="{% static 'js/myprofile.js' %}" type="text/javascript"></script>

{% endblock body %}